APP_NAME=ZCMC
APP_ENV=local
APP_KEY=base64:7wZ/Q/YSONXbLpHJ2dpRAZR1FLDykKRxihm9gNudjoc=
APP_DEBUG=true
APP_URL=http://localhost

UMIS_API_HEADER='UMIS-Api-Key'
UMIS_API_URL="http://192.168.9.243:8010/api"
UMIS_API_KEY="eyJpdiI6IktzQVFod2kzWlMydk9pUnFSY3lMUGc9PSIsInZhbHVlIjoiZUdXdHdMdjh1RlZ3Mm1EaW11eEJKbGpBY1BCMjJLVUZERmdKVHU2OUJkUUpHL2p2dkhHb0dHdUpwZXFZUTRxcHo4U2xvckt5a24wRHlSMDFwUXZ2SHc9PSIsIm1hYyI6IjU5YmEwMjU0MDg4YjQ3M2YzZTJjNjVlMDNmNzY3MWI0ZjAzZjk0OGMyM2JkMDllNGMyNjY3MDIzYjVhZWUxYTIiLCJ0YWciOiIifQ=="
COOKIE_NAME="ErpSystem"

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=zcmc_erp_db
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=.localhost

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=zcmcprtracking@gmail.com
MAIL_PASSWORD=mpanhbtfxstmwnef
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="zcmcprtracking@gmail.com"
MAIL_FROM_NAME="ZCMC - ERP System"


AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"